openapi: 3.0.0
x-stoplight:
  id: 6wbhpw17l9gtd
info:
  title: billing-service
  version: '1.0'
  description: '1'
  contact:
    name: '1'
    url: '1'
    email: a@a.ru
  termsOfService: ''
  license:
    name: '1'
    url: '1'
servers:
  - url: 'http://billing.arch.homework'
paths:
  '/account/:id/withdraw':
    parameters: []
    post:
      summary: withdraw
      tags:
        - '1'
      responses:
        '204':
          description: No Content
      operationId: post-account-id-withdraw
      x-stoplight:
        id: t0yreqrim3hdi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceChangeDto'
      description: '1'
  /account:
    get:
      summary: Get account list
      tags:
        - '1'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountDto'
      operationId: get-account-list
      x-stoplight:
        id: u7v77v7x8gsbu
      description: '1'
    post:
      summary: create account
      tags:
        - '1'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDto'
      operationId: post-account-create
      x-stoplight:
        id: isauom130udl6
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateDto'
      description: '1'
  '/account/:id/top-up':
    post:
      summary: top up
      tags:
        - '1'
      responses:
        '204':
          description: No Content
      operationId: post-account-id-top-up
      x-stoplight:
        id: yoyoas447xvnj
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceChangeDto'
      description: '1'
    parameters: []
components:
  schemas:
    AccountCreateDto:
      type: object
      x-stoplight:
        id: 6f96a99f42cdf
      properties:
        id:
          type: string
        initialBalance:
          type: integer
      x-examples:
        Example 1:
          id: string
          initialBalance: 0
      title: ''
    AccountDto:
      type: object
      properties:
        id:
          type: string
        balance:
          type: integer
      x-examples:
        Example 1:
          id: striog
          balance: 0
    BalanceChangeDto:
      title: BalanceChangeFto
      x-stoplight:
        id: krwx67nrgirkr
      type: object
      required:
        - value
      properties:
        value:
          type: number
          x-stoplight:
            id: er9ic6cpat2dk
          minimum: 0
x-internal: true
tags:
  - name: '1'
